.navbar {
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--dark-bg);
    z-index: 100;
}

.nav-link {
    font-weight: lighter;
    cursor: pointer;
}

.cat-details {
    white-space: pre-wrap;
}