<nav class="navbar navbar-dark">
  <a class="navbar-brand" routerLink="/cats">Home</a>
 
  <div class="my-2 my-lg-0">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link">Logout</a>
      </li>   
    </ul>
  </div>
 </nav>
 
<div class="container main-content">
  <div class="row justify-content-center">
    <div class="col-10 col-md-7">
      <!-- String interpolation -->
      <h4>
        Welcome to {{ title }}!
      </h4>

      <!-- Property Binding -->
      <img *ngIf="isHidden" width="300" alt="kitty" [src]="imageUrl">

      <hr/>

      <!-- Event Binding -->
      <div>
        <button class="btn btn-primary" (click)="toggle()">Toggle me</button>
        <p>Value of isHidden is {{ isHidden }} </p>
      </div>
      
      <hr/>
    </div>
  </div>
</div>
