/* You can add global styles to this file, and also import other style files */
:root {
    --dark-bg: #0A0A1D;
    --black-text: rgba(0,0,0,.87);
    --bright-blue: #007bff;
    --cool-green: #32bb67;
    --negative-red: #f44336;
    --neutral-grey: #ced4da;
    --blueish-grey: #eff4fa;
    --font-size: 14px;
}

/*-------- Overall Layout --------*/
html, body {
    width: 100%;
    height: 100%;
}

body {
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
    color: var(--black-text);
}

.main-content {
    padding-top: 45px;
    padding-bottom: 50px;
}
 